.new-items .buttons {
  display: block;
  margin: 0 auto;
}

.new-items .buttons button {
  display: inline-block;
}

.item-image-wrap img {
  display: block;
  height: auto;
  width: auto;
  max-width: 85vw;
  margin: 0 auto;
}

/* Roboto thin */
@font-face {
  font-family: robotoThin;
  src: url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
}

/* Roboto light */
@font-face {
  font-family: robotoLight;
  src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
}

/* Existence Light */
@font-face {
  font-family: existence;
  src: url('../fonts/Existence-Light/web/existence_light_macroman/Existence-Light-webfont.eot') format('embedded-opentype'),
   url('../fonts/Existence-Light/web/existence_light_macroman/Existence-Light-webfont.woff') format('woff'),
   url('../fonts/Existence-Light/web/existence_light_macroman/Existence-Light-webfont.ttf')  format('truetype'),
   url('../fonts/Existence-Light/web/existence_light_macroman/Existence-Light-webfont.svg') format('svg');
}

@font-face {
  font-family: ReklameScript;
  src: url('../fonts/ReklameScript.otf');
}

html,
input,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: robotoLight;
}

.new-items .buttons {
  display: block;
  margin: 0 auto;
}

.new-items .buttons button {
  display: inline-block;
}

.item-image-wrap img {
  display: block;
  height: auto;
  width: auto;
  max-width: 85vw;
  margin: 0 auto;
}

.moment-title input[type='text'] {
  text-align: center;
}

button.cadet {
  color: #fafafa;
  background-color: #FF8466;
  border: none;
  border-radius: 5px;
  z-index: 2;
}

button.cadet.activated {
  background-color: #FF8466 !important;
}

/* Overwrite the default button activated behavior of turning the button grey on click */

/* Home page */

.home {
  /*background-color: ivory;*/
  background: url(../assets/memories-fade.jpg) center no-repeat;
  background-size: cover;
}

.home-logo {
  margin: 0 auto;
  display: block;
  margin-bottom: 20vh;
  margin-top: 5vh
}

.home-footer {
  padding: 50px;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 40vh;
  /*opacity: 0.5;*/
  /*background-color: white;*/
}

.mementos-title,
.slogan {
  color: #fafafa;
  text-align: center;
}

.mementos-title {
  font-family: ReklameScript;
  font-size: 74px;
  font-weight: bold;
  /*background-color: rgba(0,0,0, .1);*/
  margin: 90px 10px 0 !important;
  /*border-radius: 2px;*/
}

.slogan {
  font-family: robotoLight;
  font-weight: bold;
  font-size: 18px;
}

button.signup,
button.login {
  position: absolute;
  width: 39%;
  font-size: 17px;
  /*background-color: rgba(250,250,242, .9);*/
  background-color: rgba(62,80,95, .85);
  border: none;
  border-radius: 4px;
  color: #fafafa;
}

button.signup {
  left: 0;
  margin-left: 20px;
}

button.login {
  right: 0;
  margin-right: 20px;
}

/* Signup and login page */

[nav-bar-transition="ios"] [nav-bar="active"] .bar,
[nav-bar-transition="ios"] [nav-bar="entering"] .bar {
  background-color: #3E505F !important;
}

[nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"] {
  /*background: -webkit-linear-gradient(#4A6CAA, ivory);
  background: -o-linear-gradient(#4A6CAA, ivory);
  background: -moz-linear-gradient(#4A6CAA, ivory);
  background: linear-gradient(#4A6CAA, ivory);*/
  background-color: #fafafa;
}

.bar.bar-stable .title {
  color: #fafafa;
  font-family: existence;
  font-size: 22px;
}

.bgView {
  background-color: whitesmoke;
}

/* Capture this moment view */

.capture {
  text-align: center;
  margin-top: 5vh !important;
  font-size:52px;
  font-family: robotoThin;
}

.capture-top {
  margin-top: 3vh;
}

/* Make room for the bigger header */

.toproom {
  margin-top: 6.3vh;
}

.plusSign {
  /*background: url("../assets/1425382348_circle_add_plus-128.png") no-repeat center;
  height: 35vh;
  background-size: 40% !important;*/
  /*text-align: center;
  margin-top: 30px;
  font-size: 90px;*/
  margin: 0 auto;
  display: block;
  margin-top: 5vh;
}

.captureMoment {
  /*background: -webkit-linear-gradient(#4A6CAA, #FF794F);
  background: -o-linear-gradient(#4A6CAA, #FF794F);
  background: -moz-linear-gradient(#4A6CAA, #FF794F);
  background: linear-gradient(#4A6CAA, #FF794F);*/
  /*background: linear-gradient(#3E505F, whitesmoke);*/
  /*background-color: #fff9f7;*/
  background: url(../assets/circles2.png) fixed center no-repeat;
}

.createMoment {
  background: -webkit-linear-gradient(whitesmoke, #4A6CAA);
  background: -o-linear-gradient(whitesmoke, #4A6CAA);
  background: -moz-linear-gradient(whitesmoke, #4A6CAA);
  background: linear-gradient(whitesmoke, #4A6CAA);
}

.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 400ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 400ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 400ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.antispin {
  -webkit-animation-name: antispin;
  -webkit-animation-duration: 400ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: antispin;
  -moz-animation-duration: 400ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: antispin;
  -ms-animation-duration: 400ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: antispin;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes antispin {
  from {
    -ms-transform: rotate(360deg);
  }

  to {
    -ms-transform: rotate(0deg);
  }
}

@-moz-keyframes antispin {
  from {
    -moz-transform: rotate(360deg);
  }

  to {
    -moz-transform: rotate(0deg);
  }
}

@-webkit-keyframes antispin {
  from {
    -webkit-transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes antispin {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.fadein {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.fadeout {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.moment-title > input {
  border: none;
}

.captureButtons {
  border: none;
  background-color: transparent;
}

.new-image-button {
  font-size: 68px;
  margin: 0 auto;
}

.new-text-button {
  font-size: 82px;
  margin: 0 auto;
  margin-top: -9px;
}

.m-save {
  margin: 0 auto;
  background: #FF8466 !important;
  color: whitesmoke !important;
  width: 50vw !important;
  margin-top: 5vh !important;
  opacity: 1 !important;
  border: none;
  border-radius: 5px;
}

.moment-title input[type='text'] {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding-top: 12px;
  height: 40px
}

.date-time {
  border: none;
  border-radius: 5px;
  margin-top: 2vh;
  margin-left: 2vw;
  display: block;
  color: #fafafa;
  background-color: #B06966;
}

.moment-text {
  padding-bottom: 0px;
}

.show-text {
  box-shadow: none;
  margin: 8px 10px;
}

.memento-title-input {
  font-size: 20px !important;
  text-align: center;
  padding-top: 12px !important;
}

.memento-list {
  margin-bottom: 0px;
}

.memento-title-label {
  border-width: 0px;
}

.recipients-input {
  text-align: left;
}

.cancel {
  color: whitesmoke !important;
}

.logout {
  color: whitesmoke !important;
}

.circleplus {
  color: whitesmoke !important; 
}

.m-logo {
  color: whitesmoke !important;
  font-family: ReklameScript;
  font-size: 27px !important;
}

.moment-title-h2 {
  font-size: 23px;
  font-weight: bold;
  margin-left: 25px;
}

.moment-release-date {
  margin-left: 25px;
}

.create-memento {
  background-color: #B06966 !important;
  font-family: ReklameScript;
  color: whitesmoke;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  padding: 19px 9px;
  display: block;
  width: 66%;
  margin: 0 auto;
  border-radius: 4px;
  margin-top: -15px;
  margin-bottom: 5px;
}

.mementos-title-bg {
  background-color: #3E505F !important;
  border-top: none;
  font-weight: bold;
}

.created-mementos {
  font-size: 26px;
  text-align: center;
  padding: 16px;
  background-color: #3E505F;
  border-top: none;
  color: whitesmoke;
  font-family: existence;
}

.received-mementos {
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 30px;
  background-color: #3E505F;
  color: #FF8466;
  font-family: robotoLight;
  padding: 16px;
  font-size: 26px;
  text-align: center;
  border: 0;
}

.memento-title-h1 {
  text-align: center; 
  background-color: #3E505F;
  color: #fafafa;
  padding: 0px 10px 15px 10px;
  font-family: existence;
  font-size: 26px;
}

.moment-in-memento {
  background-color: #FFF;
}

