<ion-view view-title="{{vm.title}}">
  <ion-content>
    <ion-item href="#/create"> Create Memento </ion-item>

    <div class="item item-divider"> Created </div>
    
    <ion-item ng-repeat="memento in vm.mementos.created" class="item-icon-right" href="#/mementos/{{memento.ID}}" on-tap="vm.addMoment({{memento.ID}})">
      {{memento.title}}

      <i class="icon ion-chevron-right"></i>
    </ion-item>
    
    <!-- FIXME: ng-hide is not working for truthy values -->
    <div ng-hide="vm.MomentID">
      <div class="item item-divider"> Received </div>
      
      <ion-item ng-repeat="memento in vm.mementos.received" class="item-icon-right" href="#/mementos/{{memento.ID}}">
        {{memento.title}}

        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </div>
  
  </ion-content>
</ion-view>