<!-- FIXME: need different behavior based on which mode (moment created or not) -->
<ion-view view-title="All Mementos">

  <ion-nav-buttons side="secondary">
    <button ng-hide="" on-tap="vm.goToMomentCreate()" class="button button-icon icon ion-plus-circled circleplus"></button>
  </ion-nav-buttons>

  <ion-content class="mementos-content">
    <div class="item item-divider created-mementos">Created</div>

    <ion-item class="mementos-title-bg" href="#/mementocreate" class="item-icon-left left-create-icon">
      <i class="icon ion-plus"></i>     Create a Memento</ion-item>
      
    <ion-item ng-repeat="memento in vm.mementos.created" class="item-icon-left left-memento-icon" on-tap="vm.addMoment({{ memento.ID }})">
      <i class="icon ion-ios7-moon memento-icon-created"></i>
      {{memento.title}}
    </ion-item>
    
    <div ng-hide="vm.moment.hasOwnProperty('ID')">
      
      <div class="item item-divider received-mementos">Received</div>

      <ion-item ng-repeat="memento in vm.mementos.received" class="item-icon-left left-memento-icon" on-tap="vm.goToMemento({{memento.ID}})">
        <i class="icon ion-ios7-moon memento-icon-received"></i>
        {{memento.title}}
      </ion-item>

    </div>
  
  </ion-content>
</ion-view>
