<!-- FIXME: need different behavior based on which mode (moment created or not) -->
<ion-view view-title="Created">

  <ion-nav-buttons side="secondary">
    <button ng-hide="" on-tap="vm.goToMomentCreate()" class="button button-icon icon ion-plus-circled circleplus"></button>
  </ion-nav-buttons>

  <ion-content class="mementos-content">
    
    <!-- <div class="item item-divider created-mementos">Created</div> -->

    <ion-item class="mementos-title-bg" href="#/mementocreate">
      Create a Memento
    </ion-item>

      <ion-item ng-repeat="memento in vm.mementos.created" class="item-icon-right" on-tap="vm.addMoment({{ memento }})">
        {{memento.title}}
      <i class="icon ion-chevron-right"></i>
    </ion-item>
    
    <div ng-hide="vm.moment.hasOwnProperty('ID')">
      <div class="item item-divider"> Received </div>
      
      <ion-item ng-repeat="memento in vm.mementos.received" class="item-icon-right" on-tap="vm.goToMemento({{memento.ID}})">
        {{memento.title}}

        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </div>
  
  </ion-content>
</ion-view>

