<div>
  <div class="new-item-placeholder">
  	<new-text ng-if="typeSelected === 'text'"></new-text>
  <div>

  <button on-tap="selectType('text')" ng-if="newItemButtonWasTapped" class="new-text-button">Add Text</button>
  <button ng-if="newItemButtonWasTapped" class="new-image-button">Add Image</button>

  <button ng-disabled="newItemButtonWasTapped" class="new-item-button">+</button>
  
  <button ng-if="newItemButtonWasTapped" class="new-video">Add Video</button>
  <button ng-if="newItemButtonWasTapped" class="new-audio">Add Audio</button>
</div>