<ion-view view-title="Login" class="bgView">
  <ion-nav-buttons side="primary">
    <button on-tap="vm.goBack()" class="button button-icon icon cancel">Cancel</button>
  </ion-nav-buttons>
  
  <ion-content>
    
    <div class="list">
      <label class="item item-input">
        <input type="email" ng-model="vm.credentials.email" placeholder="email">
      </label>

      <label class="item item-input">
        <input type="password" ng-model="vm.credentials.password" placeholder="password">
      </label>
    </div>
    
    <!-- FIXME: need to alert for previously created users or incorrect entry -->
    <div class="padding">
      <button class="button button-block cadet" on-tap="vm.signin(vm.credentials)">
        Sign In
      </button>
    </div>

  </ion-content>
</ion-view>
