<ion-view view-title="moment">
  <ion-content class="padding moment">

    <h1> {{ ::vm.currentMoment.title }} </h1>    

    <!-- // ng-repeat over all items in the moment -->
    <div class="items">
      <div ng-repeat="item in vm.currentMoment.content">
        <show-text  ng-if="item.type === 'text' "></show-text>
        <show-image ng-if="item.type === 'image'"></show-image>
        <show-audio ng-if="item.type === 'audio'"></show-audio>
        <show-video ng-if="item.type === 'video'"></show-video>        
      </div>
    </div>

  </ion-content>
</ion-view>
