<ion-view title="" class="test">
  <ion-nav-buttons side="primary">
    <button on-tap="vm.goBack()" class="button button-icon icon ion-ios7-close-empty cancel"></button>
  </ion-nav-buttons>

  <ion-content class="moment">
    
    <!-- Include a editable input box if editable -->

    <div class="list">
      <label class="item item-input moment-title">
        <input type="text" ng-model="vm.currentMoment.title" placeholder="Name Your Moment"/>
      </label>
    </div>

    <!-- // ng-repeat over all items in the moment -->
    <div class="items">
      <div ng-repeat="item in vm.currentMoment.content">
        <show-text  ng-if="item.type === 'text/plain' "></show-text>
        <show-image ng-if="item.type === 'image/jpeg'"></show-image>
        <show-audio ng-if="item.type === 'audio'"></show-audio>
        <show-video ng-if="item.type === 'video'"></show-video>        
      </div>
    </div>
 
    <!-- // Allow users to create a new item if editable -->
    <new-item moment="vm.currentMoment"></new-item>

    <button class="button date-time" on-tap="vm.showDatePicker()">Release Date</button>
    {{vm.date | date : 'longDate'}}
    <button ng-show="vm.date" class="button date-time" on-tap="vm.showTimePicker(vm.date)">Release Time</button>
    {{vm.time | date : 'shortTime'}}

    <button ng-disabled="!vm.currentMoment.title || !vm.currentMoment.content[0] || !vm.date || !vm.time" class="button button-outline button-large button-block button-positive m-save" on-tap="vm.saveMoment(vm.currentMoment)">Save</button>

  </ion-content>
</ion-view>

