<ion-view view-title="">
  <ion-nav-buttons side="primary">
    <button on-tap="vm.goBack()" class="button button-icon icon cancel">Cancel</button>
  </ion-nav-buttons>
  
  <ion-content>
    
    <div class="list memento-list">
      <label class="item item-input memento-title-label">
        <input type="text" placeholder="Add Memento Title" ng-model="vm.currentMemento.title" class="memento-title-input">
      </label>
    </div>
    
    <div class="list add-recipient">
      <label class="item item-input">
        <input type="email" placeholder="Add Recipient Email" ng-model="vm.recipient" class="recipient-email">
        <button ng-disabled="!vm.recipient" on-tap="vm.addRecipient(vm.recipient)" class="button icon-left ion-plus button-clear button-dark add-recipient-button"></button>
      </label>
    </div>

    <!-- <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a> -->
    <div class="list">
      <a class="recipient-list-item item item-icon-left item-icon-right" ng-repeat="recipient in vm.currentMemento.recipients" href="#">
        <i class="icon ion-ios7-person"></i>
        <h4 class="recipient-added">{{recipient}}</h4>
        <i on-tap="vm.removeRecipient(recipient)" class="icon ion-ios7-close-empty remove-person"></i>
      </a>
    </div>
    
    <!-- FIXME: both link and button need to be disabled until user has inputed validated info -->
    <button ng-disabled="!vm.currentMemento.title || !vm.currentMemento.recipients[0]" on-tap="vm.saveMemento(vm.currentMemento)" class="button button-block button-positive m-save">
     Save
    </button>

  </ion-content>
</ion-view>

