<ion-view view-title="">
  <ion-nav-buttons side="primary">
    <button on-tap="vm.goBack()" class="button button-icon icon cancel">Cancel</button>
  </ion-nav-buttons>
  
  <ion-content>
    
    <div class="list memento-list">
      <label class="item item-input memento-title-label">
        <input type="text" placeholder="Add Memento Title" ng-model="vm.currentMemento.title" class="memento-title-input">
      </label>
    </div>
    
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Recipient Email" ng-model="vm.recipient">
      </label>
    </div>

    <button ng-disabled="!vm.recipient" on-tap="vm.addRecipient(vm.recipient)">Add</button>

    <span ng-repeat="recipient in vm.currentMemento.recipients">
      {{recipient}} 
      <span on-tap="vm.removeRecipient(recipient)">X </span>
    </span>
    
    <!-- FIXME: both link and button need to be disabled until user has inputed validated info -->
    <button ng-disabled="!vm.currentMemento.title || !vm.currentMemento.recipients[0]" on-tap="vm.saveMemento(vm.currentMemento)" class="button button-block button-positive m-save">
     Save
    </button>

  </ion-content>
</ion-view>
