<!-- FIXME: memento.title doesn't render right away -->
<ion-view view-title="{{vm.memento.title}}">
  <ion-content>

    <div ng-repeat="moment in vm.memento.moments">
      {{moment.title}}
      
      <div ng-repeat="item in moment.content">

        <show-text ng-if="item.type === 'text/plain'"></show-text>
        <show-image ng-if="item.type === 'image/jpeg'"></show-image>
        <!-- <show-audio ng-if="item.type === 'audio'"></show-audio>
        <show-video ng-if="item.type === 'video'"></show-video> -->
      </div>
    
    </div>
  
  </ion-content>
</ion-view>
