<ion-view view-title="">
  
  <ion-nav-buttons side="primary">
    <!-- NOTE: it should also have the notification circle for new moments -->
    <button on-tap="vm.goToMementos()" class="button button-icon icon m-logo">M</button>
  </ion-nav-buttons>
  
  <ion-nav-buttons side="secondary">
    <button on-tap="vm.goToMomentCreate()" class="button button-icon icon ion-plus-circled circleplus"></button>
  </ion-nav-buttons>

  <ion-content class="memento-wrap">
  
  <h1 class="memento-title-h1">{{vm.memento.title}}</h1>
    
    <div ng-repeat="moment in vm.memento.moments | orderBy: vm.normalizeDate" class="moment-in-memento">
      <h2 class="moment-title-h2">{{moment.title}}</h2>
      <span class="moment-release-date">Release Date: {{moment.releaseDate | date: 'medium'}}</span>
      
      <div ng-repeat="item in moment.content">
        
        <show-text ng-if="item.type === 'text/plain'"></show-text>
        <show-image ng-if="item.type === 'image/jpeg'"></show-image>
      </div>
    
    </div>
  
  </ion-content>
</ion-view>

