<div class="new-items">
  <div class="new-item-placeholder">
    <new-text  ng-if="typeSelected === 'text'" ></new-text>
    <new-image ng-if="typeSelected === 'image'"></new-image>
  <div>

  <div class="row">
    <button on-tap="selectType('image')"class="button new-image-button ion-image captureButtons"></button>
    <button on-tap="selectType('text')" class="button new-text-button ion-ios7-compose-outline captureButtons"></button>
    <!-- <button class="col-25 new-video-button button button-outline ion-videocamera button-calm"></button>
    <button class="col-25 new-audio-button button button-outline ion-mic-a button-calm"></button> -->
  </div>
  
</div>
